{
  "rewrites": [
    {
      "source": "/api/:path*",
      "destination": "https://krab-interviewer-bot.onrender.com/api/:path*"
    }
  ],
  "headers": [
    {
      "source": "/api/(.*)",
      "headers": [
        { "key": "Access-Control-Allow-Credentials", "value": "true" }
      ]
    }
  ]
}
